{% extends 'base.html.twig' %}

{% block title %}Edit Run{% endblock %}

{% block body %}
    <h1>Edit Run</h1>

    {{ include('run/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_run_index') }}">back to list</a>

    {{ include('run/_delete_form.html.twig') }}
{% endblock %}
