{% extends 'base.html.twig' %}

{% block title %}Ranking{% endblock %}

{% block body %}
    <h1>Ranking</h1>


    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


    <a href="{{ path('app_run_index') }}">back to list</a>

{% endblock %}
