{% extends "base.html.twig" %}

{% block title %}Cross petio - Accueil{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur Cross Petio</h1>
        <p class="lead">
        </p>
        <hr class="my-4">
        <p class="lead">
            <a href="/classement.php">Classement</a>
        </p>     
    </div>
</div>
{% endblock %}